{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <title>Meaningful Mind Therapeutic Services</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <style>
        .hidden {
          display: none;
        }
        .transition-height {
      transition: height 0.3s ease;
      overflow: hidden;
    }

    .faq-text p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.faq-text p.show {
  max-height: 1000px; /* Adjust according to the content */
  transition: max-height 0.5s ease-in;
}

      </style>
</head>
<body>
    
<!-- NavBar -->
    <header>
        <nav class="bg-white py-5">
            <div class="mx-auto max-w-7xl px-2 md:px-6 lg:px-8">
              <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center">
                  <!-- Logo -->
                  <a class="navbar-brand" href="#"><img src="{% static 'images/mm logo.jpg' %}" alt="Logo" class="w-auto"></a>
                </div>
                <div class="flex flex-1 items-center justify-center md:items-stretch sm:justify-start">
                  <div class="flex flex-shrink-0 items-center">
                  </div>
                  <div class="hidden lg:ml-6 lg:block">
                    <div class="flex space-x-4">
                      <a href="{% url 'Onboarding:home' %}" class="rounded-md px-3 py-2 active text-sm uppercase font-medium" aria-current="page">HOME</a>
                      <a href="{% url 'Onboarding:about' %}" class="rounded-md px-3 py-2 text-sm uppercase font-medium">About US</a>
                      <a href="{% url 'Onboarding:services' %}" class=" px-3 py-2 text-sm uppercase font-medium">Our services</a>
                      <a href="{% url 'Onboarding:contacts' %}" class=" px-3 py-2 text-sm uppercase font-medium">Contact us</a>
                    </div>
                  </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center lg:hidden">
                  <!-- Mobile menu button-->
                  <button type="button" class="relative toggle inline-flex items-center justify-center rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" onclick="toggleMenu()">
                    <span class="sr-only">Open main menu</span>
                    <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="hidden transition-height lg:hidden" id="mobile-menu">
              <div class="space-y-1 px-2 pb-3 pt-2">
                <a href="{% url 'Onboarding:home' %}" class="active block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Home</a>
                <a href="{% url 'Onboarding:about' %}" class=" block rounded-md px-3 py-2 text-base font-medium">About Us</a>
                <a href="{% url 'Onboarding:services' %}" class=" block rounded-md px-3 py-2 text-base font-medium">Our Services</a>
                <a href="{% url 'Onboarding:contacts' %}" class=" block rounded-md px-3 py-2 text-base font-medium">Contact Us</a>
              </div>
            </div>
          </nav>
          
          <script>
            function toggleMenu() {
              const menu = document.getElementById('mobile-menu');
              if (menu.classList.contains('hidden')) {
                menu.classList.remove('hidden');
                menu.style.height = menu.scrollHeight + 'px';
              } else {
                menu.style.height = '0';
                menu.addEventListener('transitionend', () => {
                  menu.classList.add('hidden');
                }, { once: true });
              }
            }
          
            function toggleUserMenu() {
              const menu = document.getElementById('user-menu');
              menu.classList.toggle('hidden');
            }
          </script>
          
          
        
      
  
      <div class="header">
        <div class="logo">
          <a class="navbar-brand" href="#"><img src="{% static 'images/mm logo.jpg' %}" alt=""></a>
          
        </div>
        <div class="mail">
          <a class= "mail-info" href=""><img src="{% static 'images/icons8-email-48.png' %}" style="padding-bottom: 17px;" alt=""> 
          </a> 
          <h3>EMAIL ADDRESS<br><a href="mailto:openhandhealthcare@gmail.com">info@mmtsofmd.com</a></h3>
          <a class= "Call-info" href=""><img src="{% static 'images/icons8-phone-48.png' %}" style="padding-bottom: 7px;" alt=""></a>
          <h3>EMERGENCY CALL<br><a href="{% url 'Onboarding:home' %}">410-304-7574

          </a></h3>
        </div>
      </div>
    </header>

    <!-- Main Starts Here -->
    <main>
        <!-- Welcome Banner -->
        <section id="welcome-banner" data-aos="fade-up"  data-aos-once="true">
          <div class="background-image">
            <img src="{% static 'images/people-meeting-support-group.jpg' %}" alt="" class="background">
            <img src="{% static 'images/47250.jpg'%}" alt="" class="background">
            <img src="{% static 'images/woman-therapy-session-attentive-psychologist-attentive-psychologist-holding-pencil-her-hands-making-written-notes-while-listening-her-client.jpg' %}" alt="" class="background">
          </div>
          <h1 class="uppercase font-bold">"From Healing to <span class="text-blue-400 font-bold">Wholeness</span>"</h1>
          <a href="{% url 'Onboarding:about' %}"><button>Get Started</button></a>
        </section>
        <!-- End of Welcome Banner -->

        <!-- About Section -->
        <section id="About">
            <div class="about mx-auto container flex lg:flex-row flex-col md:justify-center lg:justify-evenly  p-5 lg:p-2 xl:p-20">
                <div class="about-1 p-5" data-aos="fade-up"  data-aos-once="true">
                    <h1 class="text-red-500 text-xl  pb-3 font-extrabold ">Welcome!</h1>
                    <P class="text-gray-950 text-left  text-xl sm:text-2xl lg:text-2xl xl:text-3xl font-sans w-[100%] xl:w-[550px] lg:w-[450px] font-bold uppercase" style="letter-spacing: .1rem; word-spacing: .1rem;" >Even the strongest people need a little bit of help to work through some of 
                        life’s most challenging problems. Everyone has hurdles to overcome, and we’d 
                        love to help you along the way.
                        </P>
                    <a href="{% url 'Onboarding:services' %}"><button class="bg-blue-500 p-4 mt-8 w-[200px] text-white text-2xs font-sans uppercase font-bold  cursor-pointer">Our Services</button></a>
                </div>
                <div class="about-2 pt-8 p-5 pb-4" data-aos="fade-up"  data-aos-once="true">
                    <p class="text-gray-500 font-sans  text-[18px] w-[100%] text-left">
                        Here at Meaningful Minds Therapeutic Services, LLC, we realize that no two 
                        people are the same, and we tailor our services to meet specific needs for 
                        individuals, family or groups. We love helping people understand the things 
                        that are holding them back and/or down with an in-depth approach. After 
                        recognizing underlying factors, clients can fully realize their strengths and 
                        adjust certain behaviors and thoughts to see things in a different, healthier 
                        way.
                    </p>
                        <div class="buttons mt-11  justify-evenly lg:justify-evenly flex md:flex-row flex-col">
                            <div class="button-1 p-5 items-center mr-3  flex mb-5 lg:mb-0 " style="border: 2px solid rgb(240, 236, 236); border-radius: 2px;">
                                <img src="{% static 'images/icons8-compassion-50 (2).png' %}" alt="">
                                <h1 class="pl-5 lg:pl-2  w-full uppercase font-bold">Always put desire above fear</h1>
                            </div>
                            <div class="button-2 flex  p-5 items-center" style="border: 2px solid rgb(240, 236, 236); border-radius: 2px;">
                                <img src="{% static 'images/icons8-speech-bubble-50.png' %}" alt="">
                                <h1 class="pl-5 lg:pl-2 w-full uppercase font-bold">Compassionate & Professional</h1>
                            </div>
                        </div>
                </div>
            </div>

        </section>
        <!-- End of About Section -->

         <!-- Stats Section -->
         <div class="stats relative isolate overflow-hidden py-24 sm:py-32">
          <img src="{% static 'images/authentic-scene-young-person-undergoing-psychological-therapy.jpg' %}" alt="" class="absolute fixed inset-0 z-0 h-full w-full object-cover object-right md:object-center">
          <div class="absolute inset-0 z-10 bg-blue-950 opacity-60"></div>
          <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 z-20 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
              <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-green-500 to-blue-400 opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
          <div class="absolute -top-52 left-1/2 z-20 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
              <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-green-500 to-blue-400 opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
          <div class="relative z-30 mx-auto max-w-7xl px-6 lg:px-8">
              <div class="mx-auto max-w-2xl lg:mx-0" data-aos="fade-up"  data-aos-once="true">
                  <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl z-50">WE <span class="text-blue-400">CARE</span></h2>
                  <p class="mt-6 text-lg leading-8 text-gray-300 z-50">Our practice specializes in helping people who are struggling with addiction, social and life skills, or behavior management. If you are trying to navigate these areas of life, we’re confident that we have the experience to help you rediscover what brings happiness to your life. Through therapy, there is always a way to address the issues you face and learn coping strategies to help you both right now and in the future.

                    Through therapy, we can get you on track to leading a happier, more fulfilling life by equipping you with the tools you need to more efficiently and confidently manage life’s challenges.
                    
                    It is never too late to start living the life you’ve always wanted.
                    
                    If you’re interested in becoming a better, happier, more fulfilled you,
                    get started by reaching out today!
                    </p>
              </div>
              <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none z-50">
                  <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10" data-aos="fade-up"  data-aos-once="true">
                      <a href="#">Psychiatric Rehabilitation  Programme <br> (PRP) <span aria-hidden="true">&rarr;</span></a>
                      <a href="#">Partial Hospitalisation  Programme <br> (PHP) <span aria-hidden="true">&rarr;</span></a>
                      <a href="#">Intensive Out Patient  Programme <br> (IOP) <span aria-hidden="true">&rarr;</span></a>
                      <a href="#">Out Patient Programme <br> (OP) <span aria-hidden="true">&rarr;</span></a>
                     
                  </div>
                
              </div>
          </div>
      </div>

      
<div class="overflow-hidden bg-white py-20 sm:pt-24 pb-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 data-aos="fade-up"  data-aos-once="true" class="text-base font-semibold leading-7 text-green-600">Affordable Therapy</h2>
          <p data-aos="fade-up"  data-aos-once="true" class="mt-2 text-3xl font-bold tracking-tight text-blue-500 sm:text-4xl">Rates & Insurance</p>
          <p class="mt-6 text-lg leading-8 text-gray-600" data-aos="fade-up"  data-aos-once="true" >
            $_____ per ______ minute session.
            <br>
            <br>
            Depending on your current health insurance provider or employee benefit plan, it is possible for services to be covered in full or in part. Please contact your provider to verify how your plan compensates you for psychotherapy services.</p>
          <dl data-aos="fade-up"  data-aos-once="true" class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
            <div class="relative">
              <dt class="inline font-semibold text-green-900">
                Payment. 
              </dt>
              <dd class="inline">We accept cash, check and all major credit cards as forms of payment. I also accept payment directly on my site via this page.

              </dd>
            </div>
            <div class="relative">
              <dt class="inline font-semibold text-green-900">
               
                Cancellation Policy. 
              </dt>
              <dd class="inline">If you are unable to attend a session, please make sure you cancel at least 24 hours beforehand. Otherwise, you may be charged for the full rate of the session.</dd>
            </div>
            <div class="relative">
              <dt class="inline font-semibold text-green-900">
                
                Any Other Questions? 


              </dt>
              <dd class="inline">
                Please contact us for any additional questions you may have. we look forward to hearing from you!
                
              </dd>
            

            </div>
            <a href="{% url 'Onboarding:contacts' %}"><button class="bg-blue-500 p-4 mt-8 w-[200px] text-white text-2xs font-sans uppercase font-bold  hover:bg-green-900 cursor-pointer">Contact Us</button></a>
          </dl>
        </div>
      </div>
      <div data-aos="fade-up"  data-aos-once="true" class="">
        <img src="{% static 'images/2148363603.jpg' %}" alt="Product screenshot" class="w-[28rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
      </div>
    </div>
  </div>
</div>


      
<section id="faq" class="">
  <div class="faq container px-10  md:px-10 mx-auto pb-10">
    <h1 data-aos="fade-up"  data-aos-once="true" class="text-4xl  text-blue-500 font-bold pb-10">Frequently asked questions</h1>
    <div class="faq-items mx-auto container ">
      <div data-aos="fade-up"  data-aos-once="true"  class="faq-item  mx-auto container ">
        <div class="faq-text py-3" style=" border-top: 1px solid lightgreen;">
          <h1  class="text-[15px] md:text-[20px] text flex items-center align-middle justify-between text-blue-400 font-bold pb-1">Aren’t people who go to therapy weak?
            <div class="faq-symbol text-2xl font-bold text-blue-500 cursor-pointer">
              &plus;
            </div>
          </h1>
          <p class="text-gray-500  md:text-[18px] text-[13px]">Not at all. People who ask for help know when they need it and have the courage to reach out. Everyone needs help now and then. In our work together, I’ll help you explore and identify your strengths and how to implement them to reduce the influence of the problems you are facing.

          </p>
          
        </div>
        
      </div>
      <div data-aos="fade-up"  data-aos-once="true"  class="faq-item mx-auto container ">
        
        <div class="faq-text py-3" style=" border-top: 1px solid lightgreen;">
          <h1  class="text-[15px] md:text-[20px] text flex items-center align-middle justify-between text-blue-400 font-bold pb-1">What’s the difference between talking to you or my best friend or family?
            <div class="faq-symbol text-2xl font-bold text-blue-500 cursor-pointer">
              <h3 class="cursor-pointer">&plus;</h3>
          </div>
          </h1>
          <p  class="text-gray-500 md:text-[18px] text-[13px]">The difference is between someone who can do something, and someone who has the training and experience to do that same thing professionally. A mental health professional can help you approach your situation in a new way– teach you new skills, gain different perspectives, listen to you without judgment or expectations, and help you listen to yourself. Furthermore, counseling is completely confidential. You won’t have to worry about others “knowing my business.” Lastly, if your situation provokes a great deal of negative emotion, and you’ve been confiding in a friend or family member, there is the risk that once you are feeling better you could start avoiding that person so you aren’t reminded of this difficult time in your life.

          </p>
          
        </div>
        
      </div>
      <div class="faq-item  mx-auto container " data-aos="fade-up"  data-aos-once="true" >
     
        <div class="faq-text py-3" style=" border-top: 1px solid lightgreen;">
          <h1  class="text-[15px] md:text-[20px]text flex items-center align-middle justify-between text-blue-400 font-bold pb-1">Why shouldn’t I just take medication?
            <div class="faq-symbol text-2xl font-bold text-blue-500 cursor-pointer">
              <h3 class="cursor-pointer">&plus;</h3>
          </div>
          </h1>
          <p class="text-gray-500  md:text-[18px] text-[13px]">
            Medication can be effective but it alone cannot solve all issues. Sometimes medication is needed in conjunction with counseling. Our work together is designed to explore and unpack the problems you are experiencing and expand on your strengths that can help you accomplish your personal goals.
          </p>
          
        </div>
        
      </div>
      <div data-aos="fade-up"  data-aos-once="true" class="faq-item mx-auto container ">
       
        <div class="faq-text py-3" style=" border-top: 1px solid lightgreen;">
          <h1 class="text-[15px] md:text-[20px] text flex items-center align-middle justify-between text-blue-400 font-bold pb-1">
            How does it work? What do I have to do in sessions?
            <div class="faq-symbol text-2xl font-bold text-blue-500 cursor-pointer">
              <h3 class="cursor-pointer">&plus;</h3>
          </div>
          </h1>
          <p class="text-gray-500  md:text-[18px] text-[13px]">
            Because each person has different issues and goals for counseling, it will be different depending on the individual. I tailor my therapeutic approach to your specific needs.
          </p>
          
        </div>
        
      </div>
      <div data-aos="fade-up"  data-aos-once="true" class="faq-item mx-auto container ">
        
        <div class="faq-text py-3" style=" border-top: 1px solid lightgreen;">
          <h1 class="text-[15px] md:text-[20px] text flex items-center align-middle justify-between text-blue-400 font-bold pb-1">
            How long will it take?
            <div class="faq-symbol text-2xl font-bold text-blue-500 cursor-pointer">
              <h3 class="cursor-pointer">&plus;</h3>
          </div>
          </h1>
          <p class="text-gray-500 md:text-[18px] text-[13px]">
            Unfortunately, this is not possible to say in a general FAQs page. Everyone’s circumstances are unique to them and the length of time counseling can take to allow you to accomplish your goals depends on your desire for personal development, your commitment, and the factors that are driving you to seek counseling in the first place.

          </p>
          
        </div>
        
      </div>
      <div data-aos="fade-up"  data-aos-once="true" class="faq-item mx-auto container ">

        <div class="faq-text py-3" style=" border-top: 1px solid lightgreen;">
          <h1 class="text-[15px] md:text-[20px] text flex items-center align-middle justify-between text-blue-400 font-bold pb-1">
            I want to get the most out of therapy. What can I do to help?
            <div class="faq-symbol text-2xl font-bold text-blue-500 cursor-pointer">
              <h3 class="cursor-pointer">&plus;</h3>
          </div>
          </h1>
          <p class="text-gray-500  md:text-[18px] text-[13px]">
            I am so glad you are dedicated to getting the most out of your sessions. Your active participation and dedication will be crucial to your success.

          </p>
          
        </div>
        
      </div>
      
    </div>
  </div>
</section>

     </main> 
      <!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->

 
<footer class="bg-blue-950 text-gray-600 body-font" data-aos="zoom-in"  data-aos-once="true">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a href="{% url 'Onboarding:home' %}" class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <img  class="rounded-[20px] w-[250px]" src="{% static 'images/mm logo.jpg' %}">
    </a>
    <p class="text-sm text-gray-200 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"> 606 Edmonson Rd, 200-201 Catonsville, MD 21228
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a href="mailto:info@mmtsofmd.com" class="mt-2 text-sm text-gray-200">info@mmtsofmd.com</a>
    </span>
  </div>
</footer>
 

      
    </main>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 2000,
    once: true,
  });
</script>

<script>
 
  document.addEventListener('DOMContentLoaded', function() {
    const faqSymbols = document.querySelectorAll('.faq-symbol');
    
    faqSymbols.forEach(symbol => {
      symbol.addEventListener('click', function() {
        const faqText = this.closest('.faq-text');
        const answer = faqText.querySelector('p');
        const isExpanded = answer.classList.contains('show');

        if (isExpanded) {
          answer.classList.remove('show');
          this.innerHTML = '&plus;';
        } else {
          answer.classList.add('show');
          this.innerHTML = '&minus;';
        }
      });
    });
  });
</script>


    <script src="{% static 'js/app.js' %}?v=5"></script>
</body>
</html>